html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(82, 142, 221);
    padding: 10px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

img {
    width: 170px;
    height: 100px;
}

.card {
    width: 300px;
    border: 1px solid rgb(154, 154, 154);
    margin: 10px;
    background-color: green;
}

.cards {
    width: 500px;
    border: 1px solid rgb(154, 154, 154);
    margin: 10px;
    background-color: rgb(107, 107, 171);
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card img {
    width: 270px;
    height: 200px;
    display: block;
    margin: 0 auto;
}

.cards img {
    width: 470px;
    height: 400px;
    display: block;
    margin: 0 auto;
}

.flex-notes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-notes > p {
    color: white;
}

.bg-warning {
    background-color: rgb(200, 144, 144);
}

.text-secondary {
    font-size: 5px;
}